<div ng-controller='FileUploadController'>
    <div ng-show='!file'>
        <input type='file' file-model='file'/>
    </div>

    <br>

    <div ng-show='file'>
        <div ng-show='!upload_started'>
            File chosen: {{file.name}}

            <!-- Button to start off the upload -->
            <button ng-show='!upload_started' ng-click='start_upload()'>
                Start upload
            </button>
        </div>

        <div ng-show='upload_started'>
            Uploading file...

            <!-- Upload progress bar -->
            <div class='progress-bar-container'>
                =====progress bar====..........
                <div class='progress-bar' style='width: {{progress}}%'></div>
            </div>

            <!-- Pause/Resume operations -->
            <button ng-show='!upload_paused' ng-click='pause_upload()'>
                Pause upload
            </button>
            <button ng-show='upload_paused' ng-click='resume_upload()'>
                Resume upload
            </button>

            <!-- Cancel operation -->
            <button ng-click='cancel_upload()'>Cancel upload</button>
        </div>
    </div>

</div>
